/.gradle/
/runrightfast-vertx-demo/build/
/runrightfast-vertx-core/build/
/runrightfast-vertx-core/.vertx/
/docs/images/Technology-Stack.png.bak
/runrightfast-vertx-orientdb/build/
/runrightfast-vertx-demo/orientdb/