/.gradle/
/runrightfast-vertx-demo/build/
/runrightfast-vertx-core/build/
/runrightfast-vertx-core/.vertx/
/docs/images/Technology-Stack.png.bak
/runrightfast-vertx-orientdb/build/
/runrightfast-vertx-demo/orientdb/
/runrightfast-docker-orientdb/build/
/runrightfast-vertx-orientdb/OrientDBHazelcastPluginTest/
/runrightfast-vertx-orientdb-server/build/
/runrightfast-vertx-orientdb-server/plugins/
/runrightfast-vertx-orientdb-server/backup/
/runrightfast-security/build/